<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>易出行</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta name="description" content="Xpedia" />
	<meta name="keywords" content="Xpedia" />
	<meta name="author" content="" />
	<meta name="MobileOptimized" content="320" />
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all"/>
	<link rel="stylesheet" type="text/css" href="/ui/css/xpedia.css" />
	<!--favicon-->
	<link rel="shortcut icon" type="image/png" href="/ui/images/fevicon.png" />
</head>

<body>
	<div th:include="header :: user_menu"></div>
	<!-- btc tittle Wrapper Start -->
	<div class="btc_tittle_main_wrapper">
		<div class="btc_tittle_img_overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 full_width">
					<div class="btc_tittle_left_heading">
						<h1>关于我们</h1>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 full_width">
					<div class="btc_tittle_right_heading">
						<div class="btc_tittle_right_cont_wrapper">
							<ul>
								<li><a href="index.html">主页</a>  <i class="fa fa-angle-right"></i>
								</li>
								<li>关于我们</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- btc tittle Wrapper End -->
	<!-- x about title Wrapper Start -->
	<div class="x_about_seg_main_wrapper float_left padding_tb_100">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
					<div class="x_about_seg_img_wrapper float_left">
						<img src="/ui/images/about_img1.jpg" alt="about_img">
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
					<div class="x_about_seg_img_cont_wrapper float_left">
						<h3>关于我们</h3>
						<p>吉林大学珠海学院（以下简称学校）是经教育部2004年5月18日批准成立，现由吉林大学与珠海市华政教育投资有限公司在吉林大学珠海校区合作建设的独立学院。
							学校现设24个二级学院、9大学科专业集群，55个本科专业，全日制普通本科在校生30000余名。学校师资力量雄厚，荟萃了一大批学识渊博、治学严谨的国内外知名专家、学者。
							学校坚持以学科建设为龙头，统筹推动人才培养、科学研究、社会服务、师资队伍建设及建设资源的优化配置，结合学校办学实际，不断凝炼特色学科研究方向，打造学校优势特色学科，提升为区域社会经济服务的能力。
						</p>
						<img src="/ui/images/seg.png" alt="segn">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- x about title Wrapper End -->
	<!--  counter Wrapper Start -->
	<div class="counto_main_wrapper">
		<div class="counto_img_overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<section class="counter-section section-padding">
						<div class="row">
							<div class="trucking_counter">
								<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
									<div class="con con_right_border"> <i class="flaticon-car-trip"></i>
									</div>
									<div class="count-description"> <span class="timer">999</span>
										<h5 class="con1">交通工具总数</h5>
									</div>
								</div>
								<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
									<div class="con con_right_border con2 cont2 cont3"> <i class="flaticon-multiple-users-silhouette"></i>
									</div>
									<div class="count-description"> <span class="timer">999</span>
										<h5 class="con2">用户人数</h5>
									</div>
								</div>
								<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
									<div class="con con_right_border con3 cont2"> <i class="flaticon-cup-of-hot-chocolate"></i>
									</div>
									<div class="count-description"> <span class="timer">999</span>
										<h5 class="con3">交易总数</h5>
									</div>
								</div>
								<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
									<div class="con con_right_border con4"> <i class="flaticon-mail-send"></i>
									</div>
									<div class="count-description"> <span class="timer">999</span>
										<h5 class="con4">订单量</h5>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<!--  counter Wrapper End -->
	<!-- xs offer car tabs Start -->
	<div class="x_ln_car_main_wrapper float_left padding_tb_100">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="x_ln_car_heading_wrapper float_left">
						<h3>团队介绍</h3>
					</div>
				</div>
				<div class="col-md-12">
					<div class="btc_ln_slider_wrapper">
						<div class="owl-carousel owl-theme">
							<div class="item">
								<div class="btc_team_slider_cont_main_wrapper">
									<div class="btc_team_img_wrapper">
										<img src="/ui/images/team1.jpg" alt="team_img1">
										<div class="btc_team_social_wrapper">
											<ul>
												<li><a href="#"><i class="fa fa-facebook"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-twitter"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-linkedin"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-google-plus"></i></a>
												</li>
											</ul>
										</div>
									</div>
									<div class="btc_team_img_cont_wrapper">
										<h4><a href="#">阿里巴巴</a></h4>
										<p>(Alibaba)</p>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="btc_team_slider_cont_main_wrapper">
									<div class="btc_team_img_wrapper">
										<img src="/ui/images/team2.jpg" alt="team_img1">
										<div class="btc_team_social_wrapper">
											<ul>
												<li><a href="#"><i class="fa fa-facebook"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-twitter"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-linkedin"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-google-plus"></i></a>
												</li>
											</ul>
										</div>
									</div>
									<div class="btc_team_img_cont_wrapper">
										<h4><a href="#">百度</a></h4>
										<p>(Baidu)</p>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="btc_team_slider_cont_main_wrapper">
									<div class="btc_team_img_wrapper">
										<img src="/ui/images/team3.jpg" alt="team_img1">
										<div class="btc_team_social_wrapper">
											<ul>
												<li><a href="#"><i class="fa fa-facebook"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-twitter"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-linkedin"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-google-plus"></i></a>
												</li>
											</ul>
										</div>
									</div>
									<div class="btc_team_img_cont_wrapper">
										<h4><a href="#">腾讯</a></h4>
										<p>(Tencent)</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--js Start-->
	<!-- x counter Wrapper Start -->
	<div class="x_counter_main_wrapper">
		<div class="x_counter_img_overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="x_counter_car_heading_wrapper float_left">
						<h3>订车流程</h3>
						<p>登录注册进入车辆查询界面
							<br>挑选车辆填写信息提交订单</p>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
					<div class="x_cou_main_box_wrapper">
						<div class="x_icon"> <i class="flaticon-airplane-shape"></i> 
						</div>
						<h5><span>1.</span> <a href="#">选择地点时间</a></h5>
						<p>选择用车地点和用车时间</p>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
					<div class="x_cou_main_box_wrapper">
						<div class="x_icon"> <i class="flaticon-calendar"></i> 
						</div>
						<h5><span>2.</span> <a href="#">挑选车辆</a></h5>
						<p>按照需要的条件筛选车辆并挑选</p>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
					<div class="x_cou_main_box_wrapper">
						<div class="x_icon"> <i class="flaticon-sedan-car-front"></i> 
						</div>
						<h5><span>3.</span> <a href="#">预定出行工具</a></h5>
						<p>选择车辆补充个人信息，提交订单</p>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
					<div class="x_cou_main_box_wrapper x_cou_main_box_wrapper_last">
						<div class="x_icon"> <i class="flaticon-emoticon-square-smiling-face-with-closed-eyes"></i> 
						</div>
						<h5><span>4.</span> <a href="#">安心用车</a></h5>
						<p>系统会按照您提交的订单安排车辆</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- x counter Wrapper End -->
	<div th:include="header :: user_base"></div>
	<script src="/ui/js/jquery-3.3.1.min.js"></script>
	<script src="/ui/js/bootstrap.min.js"></script>
	<script src="/ui/js/modernizr.js"></script>
	<script src="/ui/js/select2.min.js"></script>
	<script src="/ui/js/jquery.menu-aim.js"></script>
	<script src="/ui/js/jquery-ui.js"></script>
	<script src="/ui/js/jquery.nice-select.min.js"></script>
	<script src="/ui/js/owl.carousel.js"></script>
	<script src="/ui/js/own-menu.js"></script>
	<script src="/ui/js/jquery.countTo.js"></script>
	<script src="/ui/js/jquery.inview.min.js"></script>
	<script src="/ui/js/jquery.bxslider.min.js"></script>
	<script src="/ui/js/jquery.magnific-popup.js"></script>
	<script src="/ui/js/xpedia.js"></script>
	<!-- custom js-->
</body>

</html>
