<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Xpedia</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta name="description" content="Xpedia" />
	<meta name="keywords" content="Xpedia" />
	<meta name="author" content="" />
	<meta name="MobileOptimized" content="320" />
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all"/>
	<link rel="stylesheet" type="text/css" href="/ui/css/xpedia.css" />
	<!--favicon-->
	<link rel="shortcut icon" type="image/png" href="/ui/images/fevicon.png" />
</head>

<body>
<div th:include="header :: user_menu"></div>
	<!-- btc tittle Wrapper Start -->
	<div class="btc_tittle_main_wrapper">
		<div class="btc_tittle_img_overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 full_width">
					<div class="btc_tittle_left_heading">
						<h1>其他服务</h1>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 full_width">
					<div class="btc_tittle_right_heading">
						<div class="btc_tittle_right_cont_wrapper">
							<ul>
								<li><a href="index.html">主页</a>  <i class="fa fa-angle-right"></i>
								</li>
								<li><a href="booking.html">列表</a>  <i class="fa fa-angle-right"></i>
								</li>
								<li>其他服务</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- btc tittle Wrapper End -->
	<!-- x tittle num Wrapper Start -->
	<div class="x_title_num_mian_Wrapper float_left">
		<div class="container">
			<div class="x_title_inner_num_wrapper float_left">
				<div class="x_title_num_heading">
					<h3>预定出行工具</h3>
					<p>步骤</p>
				</div>
				<div class="x_title_num_heading_cont">
					<div class="x_title_num_main_box_wrapper">
						<div class="x_icon_num">
							<p>1</p>
						</div>
						<h5>时间和地点</h5>
					</div>
					<div class="x_title_num_main_box_wrapper">
						<div class="x_icon_num ">
							<p>2</p>
						</div>
						<h5>挑选工具</h5>
					</div>
					<div class="x_title_num_main_box_wrapper x_title_num_main_box_wrapper3">
						<div class="x_icon_num x_icon_num2">
							<p>3</p>
						</div>
						<h5>其他服务</h5>
					</div>
					<div class="x_title_num_main_box_wrapper x_title_num_main_box_wrapper3">
						<div class="x_icon_num x_icon_num3">
							<p>4</p>
						</div>
						<h5>提交订单</h5>
					</div>
					<div class="x_title_num_main_box_wrapper x_title_num_main_box_wrapper3 x_title_num_main_box_wrapper_last">
						<div class="x_icon_num x_icon_num3">
							<p>5</p>
						</div>
						<h5>完成!</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- x tittle num Wrapper End -->
	<!-- x car book sidebar section Wrapper Start -->
	<div class="x_car_book_sider_main_Wrapper float_left">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
					<div class="x_car_book_left_siderbar_wrapper float_left">
						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<!-- Filter Results -->
								<div class="car-filter accordion x_inner_car_acc_accor">
									<h3>详细信息</h3>
									<hr>
									<!-- Resources -->
									<div class="x_car_access_filer_top_img">
										<img src="/ui/images/c2.png" alt="car_img">
										<h3>Dakota gtx</h3>
										<p>$69 (1 day)</p>
									</div>
									<hr>
									<!-- Company -->
									<div class="panel panel-default x_car_inner_acc_acordion_padding">
										<div class="panel-heading">
											<h5 class="panel-title"> <a data-toggle="collapse" href="#collapseTwo" class="collapse"> 车辆信息</a> </h5>
										</div>
										<div id="collapseTwo" class="collapse show">
											<div class="panel-body">
												<div class="x_car_acc_filter_date">
													<ul>
														<li>类型 <span>汽车</span>
														</li>
														<li>品牌 <span>大众</span>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<hr>
									<div class="panel panel-default x_car_inner_acc_acordion_padding x_car_inner_acc_acordion_padding_last">
										<div class="panel-heading">
											<h5 class="panel-title"> <a data-toggle="collapse" href="#collapsefour" class="collapse"> 购物车</a> </h5>
										</div>
										<div id="collapsefour" class="collapse show">
											<div class="panel-body">
												<div class="x_car_acc_filter_date">
													<ul>
														<li>GPS x 1 <span>$19</span>
														</li>
														<li>Dakota gtx x 12h <span>$69</span>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="x_car_acc_filter_bottom_total">
										<ul>
											<li>总计 <span>$88</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12">
					<div class="x_carbooking_right_section_wrapper float_left">
						<div class="row">
							<div class="col-md-12">
								<div class="x_car_access_right_price_main_box_wrapper float_left">
									<div class="x_car_access_right_price_main_box_inner_left_wrapper">
										<div class="x_car_access_right_price_img_wrapper">
											<img src="/ui/images/g1.png" alt="g1_img">
										</div>
										<div class="x_car_access_right_price_img_cont_wrapper">
											<h3>DOMDOM GPS</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipi Sicing elit.</p>
										</div>
									</div>
									<div class="x_car_access_right_price_main_box_inner_right_wrapper">
										<div class="x_car_acc_price_dollar_wrapper">
											<h3>25元</h3>
											<p>/ day</p>
										</div>
										<div class="x_car_acc_price_dollar_count_wrapper">
											<div class="quantity">
												<input type="number" min="0" max="100" step="0" value="0" class="qty">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="x_car_access_right_price_main_box_wrapper x_car_access_right_price_main_box_wrapper2 float_left">
									<div class="x_car_access_right_price_main_box_inner_left_wrapper">
										<div class="x_car_access_right_price_img_wrapper">
											<img src="/ui/images/g3.png" alt="g1_img">
										</div>
										<div class="x_car_access_right_price_img_cont_wrapper">
											<h3>Extra Drivers</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipi Sicing elit.</p>
										</div>
									</div>
									<div class="x_car_access_right_price_main_box_inner_right_wrapper">
										<div class="x_car_acc_price_dollar_wrapper">
											<h3>$15</h3>
											<p>/ day</p>
										</div>
										<div class="x_car_acc_price_dollar_count_wrapper">
											<div class="quantity">
												<input type="number" min="0" max="100" step="0" value="0" class="qty">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="x_car_access_right_price_main_box_wrapper x_car_access_right_price_main_box_wrapper2 float_left">
									<div class="x_car_access_right_price_main_box_inner_left_wrapper">
										<div class="x_car_access_right_price_img_wrapper">
											<img src="/ui/images/g4.png" alt="g1_img">
										</div>
										<div class="x_car_access_right_price_img_cont_wrapper">
											<h3>Insurance</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipi Sicing elit.</p>
										</div>
									</div>
									<div class="x_car_access_right_price_main_box_inner_right_wrapper">
										<div class="x_car_acc_price_dollar_wrapper">
											<h3>$199</h3>
											<p>/ day</p>
										</div>
										<div class="x_car_acc_price_dollar_count_wrapper">
											<div class="quantity">
												<input type="number" min="0" max="100" step="0" value="0" class="qty">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="x_car_acc_bottom_button float_left">
									<p><i class="fa fa-info-circle"></i> &nbsp;Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor.</p>
									<ul>
										<li><a href="checkout.html">添加 <i class="fa fa-arrow-right"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- x car book sidebar section Wrapper End -->
	<div th:include="header :: user_base"></div><script src="/layui/layui.js"></script>
	<script src="/ui/js/jquery-3.3.1.min.js"></script>
	<script src="/ui/js/bootstrap.min.js"></script>
	<script src="/ui/js/modernizr.js"></script>
	<script src="/ui/js/select2.min.js"></script>
	<script src="/ui/js/jquery.menu-aim.js"></script>
	<script src="/ui/js/jquery-ui.js"></script>
	<script src="/ui/js/jquery.nice-select.min.js"></script>
	<script src="/ui/js/owl.carousel.js"></script>
	<script src="/ui/js/own-menu.js"></script>
	<script src="/ui/js/jquery.bxslider.min.js"></script>
	<script src="/ui/js/jquery.magnific-popup.js"></script>
	<script src="/ui/js/xpedia.js"></script>
	<!-- custom js-->
</body>

</html>
