<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>易出行</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta name="description" content="Xpedia" />
	<meta name="keywords" content="Xpedia" />
	<meta name="author" content="" />
	<meta name="MobileOptimized" content="320" />
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all"/>
	<link rel="stylesheet" type="text/css" href="/ui/css/xpedia.css" />
	<!--favicon-->
	<link rel="shortcut icon" type="image/png" href="/ui/images/fevicon.png" />
</head>

<body>
<div th:include="header :: user_menu"></div>
<div class="x_partner_main_wrapper float_left padding_tb_100">
    <div class="container">
        <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-12 col-sm-12 col-12">
            <form class="layui-form layui-form-pane " method="post" id="msgForm" th:action="@{/web/center}">
                <p id="session" style="display: none" th:text="${session.user_name}"/>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" name="user_name" id="user_name" class="layui-input" disabled>
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" lay-verify="title" autocomplete="off" placeholder="" class="layui-input" th:value="${u.name}">
                    </div>
                    <div class="layui-input-inline">
                        <input type="radio" name="sex" value="男" title="男" th:field="*{u.sex}">
                        <input type="radio" name="sex" value="女" title="女" th:field="*{u.sex}">
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">联系方式</label>
                    <div class="layui-input-block">
                        <input type="text" name="tel" lay-verify="phone" autocomplete="off" placeholder="" class="layui-input" th:value="${u.tel}">
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">电子邮箱</label>
                    <div class="layui-input-block">
                        <input type="text" name="email" lay-verify="email" autocomplete="off" placeholder="" class="layui-input" th:value="${u.email}">
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">驾驶证编号</label>
                    <div class="layui-input-block">
                        <input type="text" name="licence" lay-verify="title" autocomplete="off" placeholder="" class="layui-input" th:value="${u.licence}">
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">身份证号码</label>
                    <div class="layui-input-block">
                        <input type="text" name="id_card" lay-verify="identity" autocomplete="off" placeholder="" class="layui-input" th:value="${u.id_card}">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text" pane>
                    <div class="layui-input-block">
                        <textarea name="user_remark" placeholder="备注" class="layui-textarea" th:text="${u.user_remark}"></textarea>
                    </div>
                </div>
                <div align="center">
                    <button class="layui-btn layui-btn-primary layui-btn-radius" lay-filter="submit_button">确认修改</button>
                    <a href='/web/passwordForm.html'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;修改密码</a>
                </div><br>
            </form>
            <p align="center" style="font-size: 12px" th:text="${message}" aria-describedby="basic-addon0"></p>
        </div>
    </div>
</div>

<script src="/layui/layui.js"></script>
<script src="/ui/js/jquery-3.3.1.min.js"></script>
<script src="/ui/js/bootstrap.min.js"></script>
<script src="/ui/js/modernizr.js"></script>
<script src="/ui/js/select2.min.js"></script>
<script src="/ui/js/jquery.menu-aim.js"></script>
<script src="/ui/js/jquery-ui.js"></script>
<script src="/ui/js/jquery.nice-select.min.js"></script>
<script src="/ui/js/owl.carousel.js"></script>
<script src="/ui/js/own-menu.js"></script>
<script src="/ui/js/jquery.countTo.js"></script>
<script src="/ui/js/jquery.inview.min.js"></script>
<script src="/ui/js/jquery.bxslider.min.js"></script>
<script src="/ui/js/xpedia.js"></script>
<script>
    layui.use(['element','layer','table','form'], function(){
        var form = layui.form
            ,element = layui.element
            ,layer = layui.layer
            ,table = layui.table
        var $ = layui.jquery
        $('#user_name').val($('#session').text());
    });
</script>
</body>
</html>
