<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Xpedia</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta name="description" content="Xpedia" />
	<meta name="keywords" content="Xpedia" />
	<meta name="author" content="" />
	<meta name="MobileOptimized" content="320" />
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all"/>
	<link rel="stylesheet" type="text/css" href="/ui/css/xpedia.css" />
	<!--favicon-->
	<link rel="shortcut icon" type="image/png" href="/ui/images/fevicon.png" />
</head>

<body>
<div th:include="header :: user_menu"></div>
	<!-- btc tittle Wrapper Start -->
	<div class="btc_tittle_main_wrapper">
		<div class="btc_tittle_img_overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 full_width">
					<div class="btc_tittle_left_heading">
						<h1>细节</h1>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 full_width">
					<div class="btc_tittle_right_heading">
						<div class="btc_tittle_right_cont_wrapper">
							<ul>
								<li><a href="index.html">主页</a>  <i class="fa fa-angle-right"></i>
								</li>
								<li><a href="booking.html">列表</a>  <i class="fa fa-angle-right"></i>
								</li>
								<li>细节</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- btc tittle Wrapper End -->
	<!-- x tittle num Wrapper Start -->
	<div class="x_title_num_mian_Wrapper float_left">
		<div class="container">
			<div class="x_title_inner_num_wrapper float_left">
				<div class="x_title_num_heading">
					<h3>预定出行工具</h3>
					<p>步骤</p>
				</div>
				<div class="x_title_num_heading_cont">
					<div class="x_title_num_main_box_wrapper">
						<div class="x_icon_num">
							<p>1</p>
						</div>
						<h5>时间和地点</h5>
					</div>
					<div class="x_title_num_main_box_wrapper x_title_num_main_box_wrapper2">
						<div class="x_icon_num x_icon_num2">
							<p>2</p>
						</div>
						<h5>挑选工具</h5>
					</div>
					<div class="x_title_num_main_box_wrapper x_title_num_main_box_wrapper3">
						<div class="x_icon_num x_icon_num3">
							<p>3</p>
						</div>
						<h5>其他服务</h5>
					</div>
					<div class="x_title_num_main_box_wrapper x_title_num_main_box_wrapper3">
						<div class="x_icon_num x_icon_num3">
							<p>4</p>
						</div>
						<h5>提交订单</h5>
					</div>
					<div class="x_title_num_main_box_wrapper x_title_num_main_box_wrapper3 x_title_num_main_box_wrapper_last">
						<div class="x_icon_num x_icon_num3">
							<p>5</p>
						</div>
						<h5>完成!</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- x tittle num Wrapper End -->
	<!-- x car book sidebar section Wrapper Start -->
	<div class="x_car_book_sider_main_Wrapper float_left">
		<div class="container">
			<div class="row">
				<div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12">
					<div class="row">
						<div class="col-md-12">
							<div class="x_car_detail_main_wrapper float_left">
								<div class="lr_bc_slider_first_wrapper">
									<div class="owl-carousel owl-theme">
										<div class="item">
											<div class="lr_bc_slider_img_wrapper">
												<img src="/ui/images/bc2.jpg" alt="fresh_food_img">
											</div>
										</div>
										<div class="item">
											<div class="lr_bc_slider_img_wrapper">
												<img src="/ui/images/bc3.jpg" alt="fresh_food_img">
											</div>
										</div>
										<div class="item">
											<div class="lr_bc_slider_img_wrapper">
												<img src="/ui/images/bc4.jpg" alt="fresh_food_img">
											</div>
										</div>
									</div>
								</div>
								<div class="x_car_detail_slider_bottom_cont float_left">
									<div class="x_car_detail_slider_bottom_cont_left">
										<h3>Dakota zaris</h3>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
										<span>251 Reviews</span>
									</div>
									<div class="x_car_detail_slider_bottom_cont_right">
										<h3>25元</h3>
										<p><span>起</span>
											<br>/ 小时</p>
									</div>
									<div class="x_car_detail_slider_bottom_cont_center float_left">
										<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, rem a quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Dssed odio sit amet nibh vulputate cursus a sit amt mauris. Morbi accumsan ipsum velit.
											<br>
											<br>This is Photoshop's version of Lorem Ipsum. Proin gravida n vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum tor. This is Photoshop's version of Lorem Ipsum.</p>
									</div>
									<div class="x_car_offer_heading x_car_offer_heading_listing float_left x_car_offer_heading_inner_car_names x_car_offer_heading_inner_car_names2">
																<ul class="">
																	<li>	<a href="#"><i class="fa fa-users"></i> &nbsp;4 Seats</a>
																	</li>
																	<li>	<a href="#"><i class="fa fa-clone"></i> &nbsp;4 Doors</a>
																	</li>
																	<li>	<a href="#"><i class="fa fa-shield"></i> &nbsp;9 Manual</a>
																	</li>
																
																	<li>	<a href="#"><i class="fa fa-briefcase"></i> &nbsp;4 Bag Space</a>
																	</li>
																	<li>	<a href="#"><i class="fa fa-snowflake-o"></i>&nbsp;2 Air: Yes</a>
																	</li>
																	<li>
																		<div class="nice-select" tabindex="0">	<span class="current"><i class="fa fa-bars"></i> Others (2)</span>
																			<ul class="list">
																				<li class="dpopy_li"><a href="#"><i class="fa fa-snowflake-o"></i> Air Conditioning</a>
																				</li>
																				<li class="dpopy_li"><a href="#"><i class="fa fa-code-fork"></i> Transmission</a>
																				</li>
																				<li class="dpopy_li"><a href="#"><i class="fa fa-user-circle-o"></i> Minimum age</a>
																				</li>
																			</ul>
																		</div>
																	</li>
																</ul>
															</div>
									<div class="x_avanticar_btn float_left">
										<ul>
											<li><a href="accessories.html">预定 <i class="fa fa-arrow-right"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="x_css_tabs_wrapper float_left">
									<div class="tab-content">
										<div id="home" class="tab-pane active">
											<div class="x_css_skills_wrapper">
												<div class="skills mt-50 x_c_s">
									<h3>用户评价</h3>
									<div class="skill-item">
										<h6><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span>90%</span></h6>
										<div class="skills-progress"><span data-value="90%"></span>
										</div>
									</div>
									<div class="skill-item">
										<h6><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><span>40%</span></h6>
										<div class="skills-progress"><span data-value="70%"></span>
										</div>
									</div>
									<div class="skill-item">
										<h6><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> <span>80%</span></h6>
										<div class="skills-progress"><span data-value="80%"></span>
										</div>
									</div>
									<div class="skill-item">
										<h6><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> <span>85%</span></h6>
										<div class="skills-progress"><span data-value="85%"></span>
										</div>
									</div>
									<div class="skill-item">
										<h6><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> <span>5%</span></h6>
										<div class="skills-progress"><span data-value="5%"></span>
										</div>
									</div>
								</div>
											</div>
											<div class="x_css_skills_form_wrapper">
												<div class="x_css_skill_form_heading float_left">
													<h3>你的评价</h3>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="row only_left">
													<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<div class="contect_form1 xcontect_form1">
											<input type="text" placeholder="Full Name *">
										</div>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<div class="contect_form2 xcontect_form2">
											<input type="email" placeholder="Email *">
										</div>
									</div>
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="contect_form2 xcontect_form2">
											<input type="text" placeholder="Title *">
										</div>
									</div>
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="contect_form4 xcontect_form4">
											<textarea rows="4" placeholder="Write Comment"></textarea>
										</div>
									</div>
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="contect_btn x_css_form_btn">
											<ul>
												<li><a href="#">评价 <i class="fa fa-arrow-right"></i></a>
												</li>
											</ul>
										</div>
									</div>
												</div>
											</div>
										</div>
									</div>	
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<div class="blog_single_comment_wrapper">
										<div class="blog_comment3_wrapper">
											<div class="blog_comment1_img">
												<img src="/ui/images/comment_img3.jpg" alt="comment_img" class="img-responsive img-circle" />
											</div>
											<div class="blog_comment1_cont">
												<h3>Jhon Doe <i class="fa fa-circle"></i> <span>July 1, 2016</span> &nbsp;&nbsp;<i class="fa fa-star oo"></i>
													<i class="fa fa-star oo"></i>
													<i class="fa fa-star oo"></i>
													<i class="fa fa-star-o oo"></i>
													<i class="fa fa-star-o oo"></i></h3>
												<p>Integer porttitor fringilla vestibulum. Phasellus curs our tinnt nulla, ut mattis augue finibus ac. Vivamus elementum enim ac enim ultrices rhoncus.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="blog_single_comment_wrapper">
										<div class="blog_comment3_wrapper">
											<div class="blog_comment1_img">
												<img src="/ui/images/comment_img4.jpg" alt="comment_img" class="img-responsive img-circle" />
											</div>
											<div class="blog_comment1_cont">
												<h3>Jhon Doe <i class="fa fa-circle"></i> <span>July 1, 2016 </span> &nbsp;&nbsp;<i class="fa fa-star oo"></i>
													<i class="fa fa-star oo"></i>
													<i class="fa fa-star oo"></i>
													<i class="fa fa-star-o oo"></i>
													<i class="fa fa-star-o oo"></i></h3>
												<p>Integer porttitor fringilla vestibulum. Phasellus curs our tinnt nulla, ut mattis augue finibus ac. Vivamus elementum enim ac enim ultrices rhoncus.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="blog_single_comment_wrapper">
										<div class="blog_comment3_wrapper">
											<div class="blog_comment1_img">
												<img src="/ui/images/comment_img2.jpg" alt="comment_img" class="img-responsive img-circle" />
											</div>
											<div class="blog_comment1_cont">
												<h3>Jhon Doe <i class="fa fa-circle"></i> <span>July 1, 2016 </span> &nbsp;&nbsp;<i class="fa fa-star oo"></i>
													<i class="fa fa-star oo"></i>
													<i class="fa fa-star oo"></i>
													<i class="fa fa-star-o oo"></i>
													<i class="fa fa-star-o oo"></i></h3>
												<p>Integer porttitor fringilla vestibulum. Phasellus curs our tinnt nulla, ut mattis augue finibus ac. Vivamus elementum enim ac enim ultrices rhoncus.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="blog_single_comment_wrapper">
										<div class="blog_comment3_wrapper">
											<div class="blog_comment1_img">
												<img src="/ui/images/comment_img1.jpg" alt="comment_img" class="img-responsive img-circle" />
											</div>
											<div class="blog_comment1_cont">
												<h3>Jhon Doe <i class="fa fa-circle"></i> <span>July 1, 2016 </span> &nbsp;&nbsp;<i class="fa fa-star oo"></i>
													<i class="fa fa-star oo"></i>
													<i class="fa fa-star oo"></i>
													<i class="fa fa-star-o oo"></i>
													<i class="fa fa-star-o oo"></i></h3>
												<p>Integer porttitor fringilla vestibulum. Phasellus curs our tinnt nulla, ut mattis augue finibus ac. Vivamus elementum enim ac enim ultrices rhoncus.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
					<div class="x_car_book_left_siderbar_wrapper float_left">
						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="x_slider_form_main_wrapper x_slider_form_main_wrapper_ccb float_left">
									<div class="x_slider_form_heading_wrapper x_slider_form_heading_wrapper_carbooking float_left">
										<h3>出行信息</h3>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="x_slider_form_input_wrapper float_left">
												<h3>取车地点</h3>
												<input type="text" placeholder="City, Airport, Station, etc.">
											</div>
										</div>
										<div class="col-md-12">
											<div class="x_slider_form_input_wrapper float_left">
												<h3>还车地点</h3>
												<input type="text" placeholder="City, Airport, Station, etc.">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-sec-header">
												<h3>取车日期</h3>
												<label class="cal-icon">取车日期
													<input type="text" placeholder="Sun 28 Apr 2019" class="form-control datepicker">
												</label>
											</div>
										</div>
										<div class="col-md-12">
											<div class="x_slider_select">
												<select class="myselect">
													<option>09</option>
													<option>01</option>
													<option>02</option>
													<option>03</option>
												</select>	<i class="fa fa-clock-o"></i>
											</div>
											<div class="x_slider_select x_slider_select2">
												<select class="myselect">
													<option>50</option>
													<option>40</option>
													<option>03</option>
													<option>02</option>
												</select>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-sec-header">
												<h3>还车日期</h3>
												<label class="cal-icon">还车日期
													<input type="text" placeholder="Sun 28 Apr 2019" class="form-control datepicker">
												</label>
											</div>
										</div>
										<div class="col-md-12">
											<div class="x_slider_select">
												<select class="myselect">
													<option>09</option>
													<option>01</option>
													<option>02</option>
													<option>03</option>
												</select>	<i class="fa fa-clock-o"></i>
											</div>
											<div class="x_slider_select x_slider_select2">
												<select class="myselect">
													<option>50</option>
													<option>40</option>
													<option>03</option>
													<option>02</option>
												</select>
											</div>
										</div>
										<div class="col-md-12">
											<div class="x_slider_checkbox float_left">
												<input type="checkbox" id="c2" name="cb">
												<label for="c2">是否自行驾驶 &nbsp;<i class="fa fa-question-circle"></i>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- x car book sidebar section Wrapper End -->
	<div th:include="header :: user_base"></div><script src="/layui/layui.js"></script>
	<script src="/ui/js/jquery-3.3.1.min.js"></script>
	<script src="/ui/js/bootstrap.min.js"></script>
	<script src="/ui/js/modernizr.js"></script>
	<script src="/ui/js/select2.min.js"></script>
	<script src="/ui/js/jquery.menu-aim.js"></script>
	<script src="/ui/js/jquery-ui.js"></script>
	<script src="/ui/js/jquery.nice-select.min.js"></script>
	<script src="/ui/js/owl.carousel.js"></script>
	<script src="/ui/js/own-menu.js"></script>
	<script src="/ui/js/jquery.bxslider.min.js"></script>
	<script src="/ui/js/jquery.magnific-popup.js"></script>
	<script src="/ui/js/xpedia.js"></script>
	<!-- custom js-->
</body>

</html>
