<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>易出行</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta name="description" content="Xpedia" />
	<meta name="keywords" content="Xpedia" />
	<meta name="author" content="" />
	<meta name="MobileOptimized" content="320" />
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all"/>
	<link rel="stylesheet" type="text/css" href="/ui/css/xpedia.css" />
	<!--favicon-->
	<link rel="shortcut icon" type="image/png" href="/ui/images/fevicon.png" />
</head>

<body>
<div th:include="header :: user_menu"></div>
	<!-- btc tittle Wrapper Start -->
	<div class="btc_tittle_main_wrapper">
		<div class="btc_tittle_img_overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 full_width">
					<div class="btc_tittle_left_heading">
						<h1>our team</h1>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 full_width">
					<div class="btc_tittle_right_heading">
						<div class="btc_tittle_right_cont_wrapper">
							<ul>
								<li><a href="index.html">主页</a>  <i class="fa fa-angle-right"></i>
								</li>
								<li>our team</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- btc tittle Wrapper End -->
	<!-- xs offer car tabs Start -->
	<div class="x_ln_car_main_wrapper float_left padding_tb_100">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="x_ln_car_heading_wrapper float_left">
						<h3>Our Core team</h3>
					</div>
				</div>
				<div class="col-md-12">
					<div class="btc_ln_slider_wrapper">
						<div class="owl-carousel owl-theme">
							<div class="item">
								<div class="btc_team_slider_cont_main_wrapper">
									<div class="btc_team_img_wrapper">
										<img src="/ui/images/team1.jpg" alt="team_img1">
										<div class="btc_team_social_wrapper">
											<ul>
												<li><a href="#"><i class="fa fa-facebook"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-twitter"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-linkedin"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-google-plus"></i></a>
												</li>
											</ul>
										</div>
									</div>
									<div class="btc_team_img_cont_wrapper">
										<h4><a href="#">Ajay Suryavanshi</a></h4>
										<p>(Consultant)</p>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="btc_team_slider_cont_main_wrapper">
									<div class="btc_team_img_wrapper">
										<img src="/ui/images/team2.jpg" alt="team_img1">
										<div class="btc_team_social_wrapper">
											<ul>
												<li><a href="#"><i class="fa fa-facebook"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-twitter"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-linkedin"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-google-plus"></i></a>
												</li>
											</ul>
										</div>
									</div>
									<div class="btc_team_img_cont_wrapper">
										<h4><a href="#">Ajay Suryavanshi</a></h4>
										<p>(Consultant)</p>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="btc_team_slider_cont_main_wrapper">
									<div class="btc_team_img_wrapper">
										<img src="/ui/images/team3.jpg" alt="team_img1">
										<div class="btc_team_social_wrapper">
											<ul>
												<li><a href="#"><i class="fa fa-facebook"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-twitter"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-linkedin"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-google-plus"></i></a>
												</li>
											</ul>
										</div>
									</div>
									<div class="btc_team_img_cont_wrapper">
										<h4><a href="#">Ajay Suryavanshi</a></h4>
										<p>(Consultant)</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--js Start-->
	<!-- x booking Wrapper Start -->
	<div class="x_booking_main_wrapper float_left">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="x_book_logo_wrapper float_left">
						<img src="/ui/images/white_logo.png" alt="logo">
					</div>
				</div>
				<div class="col-md-6">
					<div class="x_book_logo_heading_wrapper float_left">
						<h3>Book on AutoRez Now!</h3>
						<p>The Most User Centric Rental Theme on the Market.</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="x_book_logo_btn float_left">
						<ul>
							<li><a href="#">See All Cars <i class="fa fa-arrow-right"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- x booking Wrapper End -->
	<!-- xs offer car tabs Start -->
	<div class="x_inner_team_main_wrapper float_left padding_tb_100">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="x_offer_car_heading_wrapper x_offer_car_tb_heading_wrapper float_left">
						<h4>safe deivers</h4>
						<h3>Our Drivers</h3>
						<p>Morbi mollis vestibulum sollicitudin. Nunc in eros a justo facilisis rutrum. Aenean id ullamcorper libero
							<br>Vestibulum imperdiet nibh vel magna lacinia commodo ultricies,</p>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="btc_team_bot_cont_main_wrapper">
						<div class="btc_team_img_bot_wrapper">
							<img src="/ui/images/tb1.jpg" alt="team_img1">
							<div class="btc_team_social_tb_wrapper">
								<h3>14 Year Experience</h3>
							</div>
						</div>
						<div class="btc_team_img_bot_cont_wrapper">
							<h4><a href="#">Jhon Doe</a></h4>
							<p>Age - 30 Year</p>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="btc_team_bot_cont_main_wrapper">
						<div class="btc_team_img_bot_wrapper">
							<img src="/ui/images/tb2.jpg" alt="team_img1">
							<div class="btc_team_social_tb_wrapper">
								<h3>14 Year Experience</h3>
							</div>
						</div>
						<div class="btc_team_img_bot_cont_wrapper">
							<h4><a href="#">Jhon Doe</a></h4>
							<p>Age - 30 Year</p>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="btc_team_bot_cont_main_wrapper">
						<div class="btc_team_img_bot_wrapper">
							<img src="/ui/images/tb3.jpg" alt="team_img1">
							<div class="btc_team_social_tb_wrapper">
								<h3>14 Year Experience</h3>
							</div>
						</div>
						<div class="btc_team_img_bot_cont_wrapper">
							<h4><a href="#">Jhon Doe</a></h4>
							<p>Age - 30 Year</p>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="btc_team_bot_cont_main_wrapper">
						<div class="btc_team_img_bot_wrapper">
							<img src="/ui/images/tb4.jpg" alt="team_img1">
							<div class="btc_team_social_tb_wrapper">
								<h3>14 Year Experience</h3>
							</div>
						</div>
						<div class="btc_team_img_bot_cont_wrapper">
							<h4><a href="#">Jhon Doe</a></h4>
							<p>Age - 30 Year</p>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="btc_team_bot_cont_main_wrapper">
						<div class="btc_team_img_bot_wrapper">
							<img src="/ui/images/tb5.jpg" alt="team_img1">
							<div class="btc_team_social_tb_wrapper">
								<h3>14 Year Experience</h3>
							</div>
						</div>
						<div class="btc_team_img_bot_cont_wrapper">
							<h4><a href="#">Jhon Doe</a></h4>
							<p>Age - 30 Year</p>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="btc_team_bot_cont_main_wrapper">
						<div class="btc_team_img_bot_wrapper">
							<img src="/ui/images/tb6.jpg" alt="team_img1">
							<div class="btc_team_social_tb_wrapper">
								<h3>14 Year Experience</h3>
							</div>
						</div>
						<div class="btc_team_img_bot_cont_wrapper">
							<h4><a href="#">Jhon Doe</a></h4>
							<p>Age - 30 Year</p>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="btc_team_bot_cont_main_wrapper">
						<div class="btc_team_img_bot_wrapper">
							<img src="/ui/images/tb7.jpg" alt="team_img1">
							<div class="btc_team_social_tb_wrapper">
								<h3>14 Year Experience</h3>
							</div>
						</div>
						<div class="btc_team_img_bot_cont_wrapper">
							<h4><a href="#">Jhon Doe</a></h4>
							<p>Age - 30 Year</p>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="btc_team_bot_cont_main_wrapper">
						<div class="btc_team_img_bot_wrapper">
							<img src="/ui/images/tb8.jpg" alt="team_img1">
							<div class="btc_team_social_tb_wrapper">
								<h3>14 Year Experience</h3>
							</div>
						</div>
						<div class="btc_team_img_bot_cont_wrapper">
							<h4><a href="#">Jhon Doe</a></h4>
							<p>Age - 30 Year</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- xs offer car tabs Start -->
	<div class="x_partner_main_wrapper float_left padding_tb_100">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="x_offer_car_heading_wrapper float_left">
						<h4>Our Cars Partners</h4>
						<h3>brands in fleet</h3>
						<p>Morbi mollis vestibulum sollicitudin. Nunc in eros a justo facilisis rutrum. Aenean id ullamcorper libero
							<br>Vestibulum imperdiet nibh vel magna lacinia commodo ultricies,</p>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="wrap-album-slider">
						<ul class="album-slider">
							<li class="album-slider__item">
								<figure class="album">
									<img src="/ui/images/prt1.png" alt="img">
								</figure>
							</li>
							<li class="album-slider__item">
								<figure class="album">
									<img src="/ui/images/prt2.png" alt="img">
								</figure>
							</li>
							<li class="album-slider__item">
								<figure class="album">
									<img src="/ui/images/prt3.png" alt="img">
								</figure>
							</li>
							<li class="album-slider__item">
								<figure class="album">
									<img src="/ui/images/prt4.png" alt="img">
								</figure>
							</li>
							<li class="album-slider__item">
								<figure class="album">
									<img src="/ui/images/prt5.png" alt="img">
								</figure>
							</li>
							<li class="album-slider__item">
								<figure class="album">
									<img src="/ui/images/prt6.png" alt="img">
								</figure>
							</li>
							<li class="album-slider__item">
								<figure class="album">
									<img src="/ui/images/prt1.png" alt="img">
								</figure>
							</li>
							<li class="album-slider__item">
								<figure class="album">
									<img src="/ui/images/prt2.png" alt="img">
								</figure>
							</li>
							<li class="album-slider__item">
								<figure class="album">
									<img src="/ui/images/prt3.png" alt="img">
								</figure>
							</li>
							<li class="album-slider__item">
								<figure class="album">
									<img src="/ui/images/prt4.png" alt="img">
								</figure>
							</li>
							<li class="album-slider__item">
								<figure class="album">
									<img src="/ui/images/prt5.png" alt="img">
								</figure>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- btc team Wrapper Start -->
	<div th:include="header :: user_base"></div><script src="/layui/layui.js"></script>
	<script src="/ui/js/jquery-3.3.1.min.js"></script>
	<script src="/ui/js/bootstrap.min.js"></script>
	<script src="/ui/js/modernizr.js"></script>
	<script src="/ui/js/select2.min.js"></script>
	<script src="/ui/js/jquery.menu-aim.js"></script>
	<script src="/ui/js/jquery-ui.js"></script>
	<script src="/ui/js/jquery.nice-select.min.js"></script>
	<script src="/ui/js/owl.carousel.js"></script>
	<script src="/ui/js/own-menu.js"></script>
	<script src="/ui/js/jquery.countTo.js"></script>
	<script src="/ui/js/jquery.inview.min.js"></script>
	<script src="/ui/js/jquery.bxslider.min.js"></script>
	<script src="/ui/js/jquery.magnific-popup.js"></script>
	<script src="/ui/js/xpedia.js"></script>
	<!-- custom js-->
</body>

</html>
