<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>COSU DB Query Page</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" type="image/x-icon" href="/image/spy.jpg"/>
    <link rel="stylesheet" href="/layui/css/layui.css"/>

    <style>
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div th:include="header :: cosu_menu" class="layui-header"></div>
    <div class="layui-body">
        <br/>
        <div class="layui-tab">
            <ul class="layui-tab-title">
                <li class="layui-this">EDI</li>
                <li>ODS</li>
            </ul>
            <div class="layui-tab-content" style="height: 100px;">
                <div class="layui-tab-item layui-show">
                    <div class="layui-row">
                        <div class="layui-col-md10">
                            <div class="layui-form layui-form-pane1">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">select * from </label>
                                    <div class="layui-input-block">
                                        <input id="ediInput" type="text" name="ediInput" placeholder="please input table and criteria" autocomplete="off" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn" lay-submit="true" lay-filter="*" id="searchEDI">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-md10">
                            <br/>
                        </div>
                        <div class="layui-col-md10">
                            <table class="layui-table" id="resultEDI">
                            </table >
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-row">
                        <div class="layui-col-md10">
                            <div class="layui-form layui-form-pane1">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">select * from </label>
                                    <div class="layui-input-block">
                                        <input id="odsInput" type="text" name="odsInput" placeholder="please input table and criteria" autocomplete="off" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn" lay-submit="true" lay-filter="*" id="searchODS">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-md10">
                            <br/>
                        </div>
                        <div class="layui-col-md10">
                            <table class="layui-table" id="resultODS">
                            </table >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/layui/layui.js"></script>

<script>

layui.use(['element','layer','table'], function(){
  var element = layui.element
  ,layer = layui.layer
  ,table = layui.table

  var $ = layui.jquery

  $('#searchEDI').click(function(){
    var ediInput = $('#ediInput').val()
    if(ediInput == null || ediInput == ''){
        layer.msg("Please Input Table and Criteria!!", {icon: 5})
        return false
    }
     $.ajax({
        type:'post',
        url:"/cosu/searchEDI",
        contentType:'application/json; charset=utf-8',
        data:'{"ediInput":"' + ediInput + '"}',
        dataType: "json",
        success:function(data,status){
            if(data.length == 0){
                layer.msg("No Data Found", {icon: 5})
            }else{
                var dataArray = []
                var columns = []
                data.forEach(function(value,index){
                    var json = {};
                    value.forEach(function(val,i){
                        if(index == 0){
                        //create column header
                            columns[i] = {field: i, title: val, width: val.length * 20, sort:true}
                        }else{
                            json[i] = val
                        }
                    })
                    if(index != 0){
                        dataArray.push(json)
                    }
                })
                //执行渲染
                table.render({
                  elem: '#resultEDI',
                  //width: '1107',
                  page: true,
                  limit: 20,
                  cols: [columns],
                  data: dataArray
                });
            }
        },
        error:function(xhr,status,error){
            layer.msg("Unknow error: " +  xhr.responseJSON.message + "," + xhr.status , {icon: 5})
        }
    });
  })

  $('#searchODS').click(function(){
    var odsInput = $('#odsInput').val()
    if(odsInput == null || odsInput == ''){
        layer.msg("Please Input Table and Criteria!!", {icon: 5})
        return false
    }
     $.ajax({
        type:'post',
        url:"/cosu/searchODS",
        contentType:'application/json; charset=utf-8',
        data:'{"odsInput":"' + odsInput + '"}',
        dataType: "json",
        success:function(data,status){
            if(data.length == 0){
                layer.msg("No Data Found", {icon: 5})
            }else{
                var dataArray = []
                var columns = []
                data.forEach(function(value,index){
                    var json = {};
                    value.forEach(function(val,i){
                        if(index == 0){
                        //create column header
                            columns[i] = {field: i, title: val, width: val.length * 20, sort:true}
                        }else{
                            json[i] = val
                        }
                    })
                    if(index != 0){
                        dataArray.push(json)
                    }
                })
                //执行渲染
                table.render({
                  elem: '#resultODS',
                  //width: '1107',
                  page: true,
                  limit: 20,
                  cols: [columns],
                  data: dataArray
                });
            }
        },
        error:function(xhr,status,error){
            layer.msg("Unknow error: " +  xhr.responseJSON.message + "," + xhr.status , {icon: 5})
        }
    });
  })

  var menuList = $('.layui-nav-item')
  menuList[0].classList.add('layui-this')
});


</script>

</body>
</html>
