<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.dao.mapper.OrderInfoMapper">

    <select id="countAll" resultType="int">
        select count(*) c from order_info
    </select>

    <select id="countById" parameterType="com.platform.dao.domain.OrderInfo" resultType="int">
        select count(*) c from order_info where 1=1
        <if test="select_field != null and select_field != ''">
            and order_id like '%${select_field}%'
        </if>
    </select>

    <select id="countByUser" parameterType="com.platform.dao.domain.OrderInfo" resultType="int">
        select count(*) c from order_info where 1=1
        <if test="select_field != null and select_field != ''">
            and user_id like '%${select_field}%'
        </if>
        <if test="order_status != null and order_status != ''">
            and order_status=#{order_status}
        </if>
    </select>

    <select id="countByCar" parameterType="com.platform.dao.domain.OrderInfo" resultType="int">
        select count(*) c from order_info where 1=1
        <if test="select_field != null and select_field != ''">
            and car_id like '%${select_field}%'
        </if>
        <if test="order_status != null and order_status != ''">
            and order_status=#{order_status}
        </if>
    </select>

    <select id="selectAll" resultType="com.platform.dao.domain.OrderInfo">
        select * from order_info
    </select>

    <select id="selectById" parameterType="com.platform.dao.domain.OrderInfo" resultType="com.platform.dao.domain.OrderInfo">
        select * from order_info where 1=1
        <if test="select_field != null and select_field != ''">
            and order_id like '%${select_field}%'
        </if>
        <if test="order_status != null and order_status != ''">
            and order_status=#{order_status}
        </if>
    </select>

    <select id="selectByUser" parameterType="com.platform.dao.domain.OrderInfo" resultType="com.platform.dao.domain.OrderInfo">
        select * from order_info where 1=1
        <if test="select_field != null and select_field != ''">
            and user_id like '%${select_field}%'
        </if>
        <if test="order_status != null and order_status != ''">
            and order_status=#{order_status}
        </if>
    </select>

    <select id="selectByCar" parameterType="com.platform.dao.domain.OrderInfo" resultType="com.platform.dao.domain.OrderInfo">
        select * from order_info where 1=1
        <if test="select_field != null and select_field != ''">
            and car_id like '%${select_field}%'
        </if>
        <if test="order_status != null and order_status != ''">
            and order_status=#{order_status}
        </if>
    </select>

    <insert id="insert" parameterType="com.platform.dao.domain.OrderInfo">
        insert into order_info(order_id,order_status,enable_flag,user_id,user_name,car_id,car_name,car_img,
        car_price,total_price,start_date,return_date,user_return_date,start_site,return_site,create_time,order_remark,self_driving)
        values (#{order_id},#{order_status},#{enable_flag},#{user_id},#{user_name},#{car_id},#{car_name},#{car_img},
        #{car_price},#{total_price},#{start_date},#{return_date},#{user_return_date},#{start_site},#{return_site},#{create_time},#{order_remark},#{self_driving})
    </insert>

    <update id="update" parameterType="com.platform.dao.domain.OrderInfo">
        update order_info set order_id=#{order_id},user_id=#{user_id},user_name=#{user_name},car_id=#{car_id},car_name=#{car_name},car_img=#{car_img},
        car_price=#{car_price},total_price=#{total_price},start_date=#{start_date},return_date=#{return_date},user_return_date=#{user_return_date},
        start_site=#{start_site},return_site=#{return_site},order_remark=#{order_remark},self_driving=#{self_driving}
         where order_id=#{order_id}
    </update>

    <delete id="delete" parameterType = "java.util.List">
        delete from order_info where order_id in
        <foreach collection="list"  item="item" open="(" separator="," close=")"  >
            #{item}
        </foreach>
    </delete>

    <select id="findById" parameterType="String" resultType="com.platform.dao.domain.OrderInfo">
        select * from order_info where order_id=#{order_id}
    </select>

    <select id="findByUser" parameterType="String" resultType="com.platform.dao.domain.OrderInfo">
        select * from order_info where user_name=#{user_name}
    </select>

    <select id="findByCar" parameterType="String" resultType="com.platform.dao.domain.OrderInfo">
        select * from order_info where car_id=#{car_id}
    </select>

    <update id="enable" parameterType="com.platform.dao.domain.OrderInfo">
        update order_info set enable_flag = #{enable_flag}, order_status = #{order_status}
         where order_id=#{order_id}
    </update>
</mapper>