<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>交通工具租赁管理系统</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="shortcut icon" type="image/png" href="/ui/images/fevicon.png" />
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all"/>

</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div th:include="header :: top_menu" class="layui-header "></div>
    <div th:include="header :: super_menu" class="layui-side layui-bg-black"></div>
    <div class="layui-body">
        <div class="layui-fluid" id="LAY-myClient">
            <div class="layui-card">
                <div class="layui-tab-content">
                        <span class="layui-breadcrumb">
                            <a href="index.html">首页</a>
                            <a><cite>账号管理</cite></a>
                            <a><cite>管理员管理</cite></a>
                        </span>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-tab-content">

                    <table class="layui-hide" id="userTable" lay-filter="userTable"></table>
                    <div id="demo"></div>
                    <script type="text/html" id="switchTpl">
                        <input type="checkbox" name="enable_flag" value="{{d.user_id}}" lay-skin="switch" lay-text="是|否" lay-filter="flagDemo" {{ d.enable_flag == 'true' ? 'checked' : '' }}>
                    </script>
                    <script type="text/html" id="toolbarDemo">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
                            <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
                        </div>
                    </script>
                    <script type="text/html" id="barDemo">
                        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="view">查看</a>
                        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/layui/layui.js" charset="utf-8"></script>
<script src="/ui/js/jquery-3.3.1.min.js" charset="utf-8"></script>
<script src="/layui/jquery.serializejson.js" charset="utf-8"></script>
<script>
    layui.use(['element', 'layer'], function(){
        var element = layui.element;
        var layer = layui.layer;
    });
    layui.use(['laypage', 'layer', 'table', 'form'], function(){
        var laypage = layui.laypage
            ,table = layui.table
            ,form =layui.form
            ,layer = layui.layer;
        var $ = layui.jquery;
        table.render({
            elem: '#userTable'
            ,url:'/user/adminMsg'
            ,toolbar: '#toolbarDemo'
            ,title: '用户数据表'
            ,height: 560 //容器高度
            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{field:'user_id', title:'ID', width:150, fixed: 'left', unresize: true, sort: true}
                ,{field:'user_name', title:'用户名', width:150, sort: true}
                ,{field:'password', title:'密码', width:150}
                ,{field:'role', title:'角色', width:60, align:'center'}
                ,{field:'create_time', title:'创建日期', width:180, sort: true}
                ,{field:'name', title:'姓名', width:80}
                ,{field:'tel', title:'联系方式', width:150}
                ,{field:'email', title:'电子邮件', width:180}
                ,{field:'enable_flag', title:'是否启用',  templet: '#switchTpl', unresize: true}
                ,{fixed:'right', title:'操作', toolbar: '#barDemo', width:165}
            ]]
            ,initSort: {
                field: 'create_time' //排序字段，对应 cols 设定的各字段名
                ,type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            }
            ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: [ 'prev', 'page', 'next', 'skip', 'count', 'limit']//自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                , groups: 5
                , first: true
                , last: true
            }
            ,done: function(res, curr, count){
                var data = res.data
            }
        });

        //监听按钮操作
        form.on('switch(flagDemo)', function(obj){
            var flag = obj.elem.checked;
            $.ajax({
                type: "POST",
                url: "/user/enableAdmin",
                data: {
                    user_id: this.value
                    ,enable_flag: flag
                },
                dataType: "text",
                success: function (Data) {
                    if (Data != "0") {
                        layer.tips("ok.",obj.othis);
                    }
                    else {
                        layer.msg('编辑失败')
                    }
                },
                error: function () {
                    layer.msg("出现错误");
                    return false;
                }
            }) //ajax结束

        });

        //头工具栏事件
        table.on('toolbar(userTable)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'add':
                    addUser();
                    break;
                case 'delete':
                    var data = checkStatus.data;
                    var user_id = [];
                    for(var i in data) {
                        user_id.push(data[i].user_id)
                    }
                    deleteUser(user_id.toString());
                    break;
            }
        });

        //单击行勾选checkbox事件
        $(document).on("click",".layui-table-body table.layui-table tbody tr", function () {
            var index = $(this).attr('data-index');
            var tableBox = $(this).parents('.layui-table-box');
            //存在固定列
            if (tableBox.find(".layui-table-fixed.layui-table-fixed-l").length>0) {
                tableDiv = tableBox.find(".layui-table-fixed.layui-table-fixed-l");
            } else {
                tableDiv = tableBox.find(".layui-table-body.layui-table-main");
            }
            var checkCell = tableDiv.find("tr[data-index=" + index + "]").find("td div.laytable-cell-checkbox div.layui-form-checkbox I");
            if (checkCell.length>0) {
                checkCell.click();
            }
        });

        $(document).on("click", "td div.laytable-cell-checkbox div.layui-form-checkbox", function (e) {
            e.stopPropagation();
        });

        //监听单元格编辑
        table.on('edit(userTable)', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            layer.msg('[ID: '+ data.user_id +'] ' + field + ' 字段更改为：'+ value);
        });

        //监听行工具事件
        table.on('tool(userTable)', function(obj){
            var data = obj.data;
            switch(obj.event) {
                case 'del':
                    deleteUser(data.user_id);
                    break;
                case 'edit':
                    editUser(data);
                    break;
                case 'view':
                    viewUser(data);
                    break;
            }
        });


        function deleteUser(user_id) {
            layer.confirm('您确定要删除操作吗?', {
                closeBtn: 1 // 是否显示关闭按钮
                , btn: ['确定', '取消'] //按钮
                , yes: function (index) {
                    $.ajax({
                        type: "POST",
                        url: "/user/deleteUser",
                        data: { user_id: user_id },
                        dataType: "text",
                        success: function (Data) {
                            if (Data != "0") {
                                table.reload('userTable', {
                                    url: '/user/adminMsg'
                                    ,where: {} //设定异步数据接口的额外参数
                                    //,height: 300
                                });
                                layer.close(index);
                            }
                            else {
                                layer.msg('删除失败')
                            }
                        },
                        error: function () {
                            alert("出现错误");
                            return false;
                        }
                    }) //ajax结束
                }
            });
        }

        function addUser() {
            var body;
            layer.open({
                title: '添加管理员信息',
                type: 2,
                maxmin: true, //开启最大化最小化按钮
                area: ['1000px', '600px'],
                content: ['/super/adminForm','no'],
                btnAlign: 'c',
                btn: ['确定', '取消'],
                success: function(layero, index){
                    layer.iframeAuto(index);
                    body = layer.getChildFrame('body', index);
                    // var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：
                    // iframeWin.method();
                    // console.log(body.html()) //得到iframe页的body内容
                    // body.find('input').val('Hi，我是从父页来的')
                },
                yes: function (index, layero) {
                    var u = body.find('form').serializeJSON(); //获取form表单里的元素
                    $.ajax({
                        type: "POST",
                        url: "/user/addAdmin",
                        data: {
                            user_name: u.user_name
                            ,password: u.password
                            ,name: u.name
                            ,role: u.role
                            ,tel: u.tel
                            ,email: u.email
                        },
                        dataType: "text",
                        success: function (Data) {
                            if (Data != "0") {
                                table.reload('userTable', {
                                    url: '/user/adminMsg'
                                    ,where: {} //设定异步数据接口的额外参数
                                    //,height: 300
                                });
                                layer.close(index);
                            }
                            else {
                                layer.msg('添加对象已存在')
                            }
                        },
                        error: function () {
                            alert("出现错误");
                            return false;
                        }
                    }) //ajax结束
                }
            });
        }

        function editUser(data) {
            $.ajax({
                type: "POST",
                url: "/user/findById",
                data: {
                    user_id: data.user_id
                },
                dataType: "text",
                success: function (Data) {
                    var ref = JSON.parse(Data);
                    var body;
                    layer.open({
                        title: '编辑信息',
                        type: 2,
                        maxmin: true, //开启最大化最小化按钮
                        area: ['1000px', '600px'],
                        content: ['/super/adminForm','no'],
                        btnAlign: 'c',
                        btn: ['确定', '取消'],
                        success: function(layero, index){
                            layer.iframeAuto(index);
                            body = layer.getChildFrame('body', index);
                            body.find("input[name='user_name']").val(ref.user_name);
                            body.find("input[name='password']").val(ref.password);
                            body.find("input[name='name']").val(ref.name);
                            body.find("input[name='tel']").val(ref.tel);
                            body.find("input[name='email']").val(ref.email);
                        }
                        ,yes: function (index, layero) {
                            var u = body.find('form').serializeJSON(); //获取form表单里的元素
                            $.ajax({
                                type: "POST",
                                url: "/user/updateUser",
                                data: {
                                    user_id: data.user_id
                                    ,user_name: u.user_name
                                    ,password: u.password
                                    ,name: u.name
                                    ,role: u.role
                                    ,tel: u.tel
                                    ,email: u.email
                                },
                                dataType: "text",
                                success: function (Data) {
                                    if (Data != "0") {
                                        table.reload('userTable', {
                                            url: '/user/adminMsg'
                                            ,where: {} //设定异步数据接口的额外参数
                                            //,height: 300
                                        });
                                        layer.close(index);
                                    }
                                    else {
                                        layer.msg('编辑失败')
                                    }
                                },
                                error: function () {
                                    alert("出现错误");
                                    return false;
                                }
                            }) //ajax结束
                        }
                    });
                }
                ,error: function () {
                    layer.msg("ID不存在");
                    return false;
                }
            }) //ajax结束
        }

        function viewUser(data){
            $.ajax({
                type: "POST",
                url: "/user/findById",
                data: {
                    user_id: data.user_id
                },
                dataType: "text",
                success: function (Data) {
                    var ref = JSON.parse(Data);
                    layer.open({
                        title: '查看信息',
                        type: 2,
                        maxmin: true, //开启最大化最小化按钮
                        area: ['1000px', '600px'],
                        content: ['/super/adminForm','no'],
                        success: function(layero, index){
                            layer.iframeAuto(index);
                            var body = layer.getChildFrame('body', index);
                            body.find("input[name='user_name']").val(ref.user_name);
                            body.find("input[name='password']").val(ref.password);
                            body.find("input[name='name']").val(ref.name);
                            body.find("input[name='tel']").val(ref.tel);
                            body.find("input[name='email']").val(ref.email);

                        }
                    });
                },
                error: function () {
                    alert("出现错误");
                    return false;
                }
            }) //ajax结束
        }
    });

</script>

</body>
</html>