<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>交通工具租赁管理系统</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="shortcut icon" type="image/png" href="/ui/images/fevicon.png" />
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all"/>

</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div th:include="header :: top_menu" class="layui-header "></div>
    <div th:include="header :: super_menu" class="layui-side layui-bg-black"  th:if = "${session.user_name == 'super'}"></div>
    <div th:include="header :: admin_menu" class="layui-side layui-bg-black"  th:if = "${session.user_name != 'super'}"></div>
    <div class="layui-body">
        <div class="layui-fluid" id="LAY-myClient">
            <div class="layui-card">
                <div class="layui-tab-content">
                        <span class="layui-breadcrumb">
                            <a href="index.html">首页</a>
                            <a><cite>交通工具管理</cite></a>
                            <a><cite>出行工具管理</cite></a>
                        </span>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-tab-content">
                    <form class="layui-form"  id="selectForm" lay-filter="selectForm">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">查询类型</label>
                                <div class="layui-input-inline">
                                    <select name="select_type">
                                        <option value=""></option>
                                        <option value="车辆名称">车辆名称</option>
                                        <option value="车辆ID" >车辆ID</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline">
                                    <input type="text" name="select_field" id="select_field" class="layui-input"/>
                                </div>
                                <div class="layui-input-inline">
                                    <select name="car_type">
                                        <option value=""></option>
                                        <option value="汽车">汽车</option>
                                        <option value="自行车">自行车</option>
                                        <option value="大巴">大巴</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline">
                                    <select name="car_source">
                                        <option value=""></option>
                                        <option value="系统">系统</option>
                                        <option value="用户">用户</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn" lay-submit lay-filter="selectForm">查询</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-tab-content">

                <table class="layui-hide" id="toolsTable" lay-filter="toolsTable"></table>

                <script type="text/html" id="carImg">
                    <img src="/image/{{d.car_img}}"/>
                </script>

                <script type="text/html" id="toolbarDemo">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
                        <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
                    </div>
                </script>
                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                </script>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/layui/layui.js" charset="utf-8"></script>
<script src="/ui/js/jquery-3.3.1.min.js" charset="utf-8"></script>
<script src="/layui/jquery.serializejson.js" charset="utf-8"></script>
<script>
    layui.use(['laypage', 'layer', 'element', 'table', 'form'], function(){
        var laypage = layui.laypage
            ,table = layui.table
            ,form =layui.form
            ,layer = layui.layer
            ,element = layui.element;
        var $ = layui.jquery;
        table.render({
            elem: '#toolsTable'
            ,url:'/tools/toolsMsg'
            ,toolbar: '#toolbarDemo'
            ,title: '交通工具数据表'
            ,height: 560 //容器高度
            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{field:'car_id', title:'车辆ID', width:180, fixed: 'left', unresize: true, sort: true}
                ,{field:'car_name', title:'车辆名称', width:180, sort: true}
                ,{field:'car_img', title:'图片', width: 110, templet: '#carImg', align: 'center', unresize: true}
                ,{field:'car_type', title:'类型', width:80, align: 'center'}
                ,{field:'car_brand', title:'品牌', width:90, align: 'center'}
                ,{field:'car_source', title:'来源', width:80, align: 'center'}
                ,{field:'car_price', title:'价格', width:90, sort: true, align: 'center'}
                ,{field:'car_state', title:'状态', width:90, sort: true, align: 'center'}
                ,{field:'create_time', title:'添加日期', width:180, sort: true}
                ,{field:'car_site', title:'放置地点', width:180}
                ,{field:'validity_time', title:'有效期/月', width:100, align: 'center'}
                ,{field:'car_remark', title:'备注', edit: 'text', width:200}
                ,{fixed:'right', title:'操作', toolbar: '#barDemo', width:165}
            ]]
            ,initSort: {
                field: 'create_time' //排序字段，对应 cols 设定的各字段名
                ,type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            }
            ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: [ 'prev', 'page', 'next', 'skip', 'count', 'limit'] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                , groups: 5
                , first: true
                , last: true
            }
            ,done: function(res, curr, count) {
                hoverOpenImg();//显示大图
            }
            // ,done: function(res, curr, count){
            //     laypage.render({
            //         elem: 'demo'
            //         ,limit: 10
            //         ,count: count
            //         ,layout: ['count', 'prev', 'page', 'next', 'refresh', 'skip']
            //         ,jump: function(obj, first){
            //             //obj包含了当前分页的所有参数，比如：
            //             console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
            //             console.log(obj.limit); //得到每页显示的条数
            //
            //             //首次不执行
            //             if(!first){
            //                 //do something
            //             }
            //         }
            //     });
            // }
        });

        //查询
        form.on('submit(selectForm)', function(data){
            console.log(data.field); //当前容器的全部表单字段，名值对形式：{name: value}
            table.reload('toolsTable',{
                url: "/tools/searchTools"
                ,where: {
                    select_type: data.field.select_type
                    ,select_field: data.field.select_field
                    ,car_source: data.field.car_source
                    ,car_type: data.field.car_type
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        //头工具栏事件
        table.on('toolbar(toolsTable)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'add':
                    addItem();
                    break;
                case 'delete':
                    var data = checkStatus.data;
                    var car_id = [];
                    for(var i in data) {
                        car_id.push(data[i].car_id)
                    }
                    deleteItem(car_id.toString());
                    break;
            }
        });

        //单击行勾选checkbox事件
        $(document).on("click",".layui-table-body table.layui-table tbody tr", function () {
            var index = $(this).attr('data-index');
            var tableBox = $(this).parents('.layui-table-box');
            //存在固定列
            if (tableBox.find(".layui-table-fixed.layui-table-fixed-l").length>0) {
                tableDiv = tableBox.find(".layui-table-fixed.layui-table-fixed-l");
            } else {
                tableDiv = tableBox.find(".layui-table-body.layui-table-main");
            }
            var checkCell = tableDiv.find("tr[data-index=" + index + "]").find("td div.laytable-cell-checkbox div.layui-form-checkbox I");
            if (checkCell.length>0) {
                checkCell.click();
            }
        });
        $(document).on("click", "td div.laytable-cell-checkbox div.layui-form-checkbox", function (e) {
            e.stopPropagation();
        });

        // //监听行双击事件
        // table.on('rowDouble(toolsTable)', function(obj){
        //     obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
        //     obj.tr.find("input[name='layTableCheckbox']").next().click();
        //     console.log(obj.data) //获取选中行的数据
        // });

        //监听单元格编辑
        table.on('edit(toolsTable)', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            // $.ajax({
            //     type: "POST",
            //     url: "/admin/updateMsg",
            //     data: {
            //         user_id: data.user_id
            //         ,user_remark: value
            //     },
            //     dataType: "text",
            //     success: function (Data) {
            //         if (Data == "0") {
            //             layer.msg('编辑失败')
            //         }
            //     },
            //     error: function () {
            //         alert("出现错误");
            //         return false;
            //     }
            // }) //ajax结束
        });

        //监听行工具事件
        table.on('tool(toolsTable)', function(obj){
            var data = obj.data;
            switch(obj.event) {
                case 'del':
                    deleteItem(data.car_id);
                    break;
                case 'edit':
                    editItem(data);
                    break;
                case 'detail':
                    viewItem(data);
                    break;
            }
        });

        function hoverOpenImg(){
            var img_show = null; // tips提示
            $('td img').hover(function(){
                // alert($(this).attr('src'));
                var img = "<img class='img_msg' src='"+$(this).attr('src')+"' style='width:200px;' />";
                img_show = layer.tips(img, this,{
                    tips:[2, 'rgba(41,41,41,.5)']
                });
            },function(){
                layer.close(img_show);
            });
            $('td img').attr('style','max-width:70px');
        }

        function deleteItem(id) {
            layer.confirm('您确定要删除操作吗?', {
                closeBtn: 1 // 是否显示关闭按钮
                , btn: ['确定', '取消'] //按钮
                , yes: function (index) {
                    $.ajax({
                        type: "POST",
                        url: "/tools/delete",
                        data: { car_id: id },
                        dataType: "text",
                        success: function (Data) {
                            if (Data != "0") {
                                table.reload('toolsTable', {
                                    url: '/tools/toolsMsg'
                                    ,where: {} //设定异步数据接口的额外参数
                                    //,height: 300
                                });
                                layer.close(index);
                            }
                            else {
                                layer.msg('删除失败')
                            }
                        },
                        error: function () {
                            alert("出现错误");
                            return false;
                        }
                    }) //ajax结束
                }
            });
        }

        function addItem() {
            var body;
            layer.open({
                title: '添加信息',
                type: 2,
                maxmin: true, //开启最大化最小化按钮
                area: ['1000px', '600px'],
                content: ['/super/toolsForm','no'],
                btnAlign: 'c',
                btn: ['确定', '取消'],
                success: function(layero, index){
                    layer.iframeAuto(index);
                    body = layer.getChildFrame('body', index);
                    // var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：
                    // iframeWin.method();
                    // console.log(body.html()) //得到iframe页的body内容
                    // body.find('input').val('Hi，我是从父页来的')
                },
                yes: function (index, layero) {
                    var u = body.find('form').serializeJSON(); //获取form表单里的元素
                    if(u.car_img == ''){
                        u.car_img = "blank.jpg"
                    }
                    $.ajax({
                        type: "POST",
                        url: "/tools/insert",
                        data: {
                            car_name: u.car_name
                            ,car_img: u.car_img
                            ,car_price: u.car_price
                            ,car_type: u.car_type
                            ,car_brand: u.car_brand
                            ,validity_time: u.validity_time
                            ,car_source: u.car_source
                            ,car_site: u.car_site
                            ,car_remark: u.car_remark

                        },
                        dataType: "text",
                        success: function (Data) {
                            if (Data != "0") {
                                table.reload('toolsTable', {
                                    url: '/tools/toolsMsg'
                                    ,where: {} //设定异步数据接口的额外参数
                                    //,height: 300
                                });
                                layer.close(index);
                            }
                            else {
                                layer.msg('添加对象已存在')
                            }
                        },
                        error: function () {
                            alert("出现错误");
                            return false;
                        }
                    }) //ajax结束
                }
            });
        }

        function editItem(data) {
            $.ajax({
                type: "POST",
                url: "/tools/findById",
                data: {
                    car_id: data.car_id
                },
                dataType: "text",
                success: function (Data) {
                    var ref = JSON.parse(Data);
                    var body;
                    layer.open({
                        title: '编辑信息',
                        type: 2,
                        maxmin: true, //开启最大化最小化按钮
                        area: ['1000px', '600px'],
                        content: ['/super/toolsForm','no'],
                        btnAlign: 'c',
                        btn: ['确定', '取消'],
                        success: function(layero, index){
                            layer.iframeAuto(index);
                            body = layer.getChildFrame('body', index);
                            body.find("input[name='car_name']").val(ref.car_name);
                            body.find("input[name='car_img']").val(ref.car_img);
                            body.find("img").attr('src', '/image/'+ref.car_img);
                            body.find("p").html(ref.car_name);
                            body.find("input[name='car_price']").val(ref.car_price);
                            body.find("input[name='car_brand']").val(ref.car_brand);
                            body.find("input[name='validity_time']").val(ref.validity_time);
                            if (ref.car_source == "用户"){body.find("input[name='car_source']").attr("checked",true);}
                            body.find("input[name='car_site']").val(ref.car_site);
                            body.find("textarea[name='car_remark']").val(ref.car_remark);
                            body.find("select").find("option:contains('"+ref.car_type+"')").attr("selected",true);
                        }
                        ,yes: function (index, layero) {
                            var u = body.find('form').serializeJSON(); //获取form表单里的元素
                            $.ajax({
                                type: "POST",
                                url: "/tools/update",
                                data: {
                                    car_id: data.car_id
                                    ,car_name: u.car_name
                                    ,car_img: u.car_img
                                    ,car_price: u.car_price
                                    ,car_type: u.car_type
                                    ,car_brand: u.car_brand
                                    ,validity_time: u.validity_time
                                    ,car_source: u.car_source
                                    ,car_site: u.car_site
                                    ,car_remark: u.car_remark
                                },
                                dataType: "text",
                                success: function (Data) {
                                    if (Data != "0") {
                                        table.reload('toolsTable', {
                                            url: '/tools/toolsMsg'
                                            ,where: {} //设定异步数据接口的额外参数
                                            //,height: 300
                                        });
                                        layer.close(index);
                                    }
                                    else {
                                        layer.msg('编辑失败')
                                    }
                                },
                                error: function () {
                                    alert("出现错误");
                                    return false;
                                }
                            }) //ajax结束
                        }
                    });
                }
                ,error: function () {
                    layer.msg("ID不存在");
                    return false;
                }
            }) //ajax结束
        }

        function viewItem(data){
            $.ajax({
                type: "POST",
                url: "/tools/findById",
                data: {
                    car_id: data.car_id
                },
                dataType: "text",
                success: function (Data) {
                    var ref = JSON.parse(Data);
                    layer.open({
                        title: '查看信息',
                        type: 2,
                        maxmin: true, //开启最大化最小化按钮
                        area: ['1000px', '600px'],
                        content: ['/super/toolsForm','no'],
                        success: function(layero, index){
                            layer.iframeAuto(index);
                            var body = layer.getChildFrame('body', index);
                            body.find("input[name='car_name']").val(ref.car_name);
                            body.find("input[name='car_price']").val(ref.car_price);
                            body.find("input[name='car_brand']").val(ref.car_brand);
                            body.find("input[name='validity_time']").val(ref.validity_time);
                            if (ref.car_source == "用户"){body.find("input[name='car_source']").attr("checked",true);}
                            body.find("input[name='car_site']").val(ref.car_site);
                            body.find("textarea[name='car_remark']").val(ref.car_remark);
                            body.find("input[name='car_img']").val(ref.car_img);
                            body.find("button").attr('style','display: none');
                            body.find("img").attr('src', '/image/'+ref.car_img);
                            body.find("p").html(ref.car_name);
                            body.find("select").find("option:contains('"+ref.car_type+"')").attr("selected",true);
                        }
                    });
                },
                error: function () {
                    alert("出现错误");
                    return false;
                }
            }) //ajax结束
        }
    });

</script>

</body>
</html>